{% extends 'base.html' %}
{% load static %}
{% block title %}
    Main
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
<!--<div id="carouselExample" class="carousel slide">-->
<!--    <div class="carousel-inner">-->
<!--        {% for product in products %}-->
<!--        <div class="carousel-item active">-->
<!--            <img src="{{ product.image.url }}" class="d-block w-100" alt="..." style="width: 200px;">-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <img src="{{ product.image.url }}" class="d-block w-100" alt="...">-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <img src="..." class="d-block w-100" alt="...">-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Previous</span>-->
<!--    </button>-->
<!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Next</span>-->
<!--    </button>-->
<!--</div>-->
    {% else %}
<!--<nav class="navbar bg-primary" data-bs-theme="dark">-->
<!--  <br>-->
<!--    -->
<!--</nav>-->
<h3 class="h3-unauth">Oops, You`re not authenticated</h3>
<hr class="hr-style">
<!--class="navbar bg-primary"-->
<div class="div-unauth-control">
    <p>You need to be authenticated to see our content!</p>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
                aria-expanded="false" aria-controls="collapseWidthExample">
            Press
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: 300px;">
                You can <a href="{% url 'sign_up' %}">Sign up</a> or <a href="{% url 'log_in' %}">Log in</a>
            </div>
        </div>
    </div>
</div>
<!--        <div class="div-user-unauth">-->
<!--            <p><a href="{% url 'sign_up' %}">Sign up</a></p>-->
<!--            <p><a href="{% url 'log_in' %}">Log in</a></p>-->
<!--        </div>-->
    {% endif %}

{% endblock %}